asgiref==3.11.1
attrs==26.1.0
Django==4.1
django-debug-toolbar==6.3.0
django-filter==22.1
djangorestframework==3.14.0
docutils==0.22.4
drf-spectacular==0.29.0
flake8==7.3.0
flake8-docstrings==1.7.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mccabe==0.7.0
Pillow==9.4.0
pycodestyle==2.14.0
pydocstyle==6.3.0
pyflakes==3.4.0
pytz==2022.7.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
snowballstemmer==3.0.1
sqlparse==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
