<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой магазин{% endblock %}</title>
</head>
<body>
    <h1>МАГАЗИН</h1>
    {% block body %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}

    <footer>
        <p>{% now 'Y:H:i' %} Мой магазин</p>
        <div>
            {% now 'l' as current_weekday %}
            Today is {{ current_weekday }}
        </div>
    </footer>
</body>
</html>