{% extends 'shopapp/base.html' %}

{% block title %}
  Product #{{ product.pk }}
{% endblock %}

{% block body %}
  <h1>Product <strong>{{ product.name }}</strong></h1>
  <div>
    <div>Description: <em>{{ product.description }}</em></div>
    <div>Price: {{ product.price }}</div>
    <div>Discount: {{ product.discount }}</div>
    <div>Archived: {{ product.archived }}</div>

    {% if product.preview %}
        <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
    {% endif %}

    <h3>Images: </h3>
    <div>
      {% for img in product.images.all %}
      <div>
        <img src="{{ img.image.url }}" alt="{{ img.image.name }}">
        <div>{{ img.description }}</div>
      </div>
      {% empty %}
      <div>No images yet</div>
      {% endfor %}

    </div>

  </div>

  {% if perms.shopapp.change_product %}
    <div>
      <a href="{% url 'shopapp:product_update' pk=product.pk %}">Update product</a>
    </div>
  {% endif %}

  {% if perms.shopapp.delete_product %}
    <div>
      <a href="{% url 'shopapp:product_archived' pk=product.pk %}">Archived product</a>
    </div>
  {% endif %}

  <div>
    <a href="{% url 'shopapp:products_list' %}">Back to products list</a>
  </div>

{% endblock %}