{% extends 'myauth/base.html' %}

{% block title %}
  About me
{% endblock %}

{% block body %}
  <h1>User info</h1>

  {% if user.is_authenticated %}
    <h2>Detail</h2>
    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>

    <h3>Avatar:</h3>
    {% if user.profile.avatar %}
      <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}'s avatar">
    {% else %}
      <p>No avatar uploaded</p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save</button>
    </form>

  {% else %}
    <h2>User is anonymous</h2>
  {% endif %}

{% endblock %}